{% extends "base.html" %}
{% load static %}


{% block title %}{{ player.name }}{% endblock %}

{% block content %}

<body>
  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header align-items-center">
        <h4 class="m-0">{{ player.name }}'s {{ title }}</h4>
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for act, done in player_activities.items %}
            <li class="list-group-item {% if done %}list-group-item-success{% endif %}" >{{ act }}</li>
          {% endfor %}
        </ul>
    </div>

  </div>
</body>


{% endblock content %}

