{% extends "base.html" %}
{% load static %}


{% block title %}{{ player.name }}{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
  <link rel="shortcut icon"  href="{% static '/images/favicon.png' %}">
</head>

<body>
  <div class="container p-2 h-100">
    <div class="d-flex flex-column align-items-stretch accordion card shadow h-100">
      
      
      <div class="card-body flex-grow-1 d-flex align-items-center" style="background-color: {{ post_color }}">
        <div class="flex-grow-1 text-center">
        
        <h1 class="m-5">{{ player.name }} heeft geen kleur!</h4>
        <h4 class="m-5">Ga terug naar de thuispost om er eentje op te halen!</h2>
        </div>
      </div>
    </div>
    </div>

</body>


{% endblock content %}

