{% extends "base.html" %}
{% load static %}


{% block title %}{{ player.name }}{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
  <link rel="shortcut icon"  href="{% static '/images/favicon.png' %}">
</head>

<body>
  <div class="container h-100">
    {% if running %}
    <div class="btn-group my-4 me-5" role="group" aria-label="Basic mixed styles example">
        <button type="button" onclick="location.href='{% url 'color_start' %}'" disabled class="btn btn-outline-success">Enabled</button>
        <button type="button" onclick="location.href='{% url 'color_stop' %}'" class="btn btn-warning">Disable</button>
      </div>
      <button type="button p-5" onclick="location.href='{% url 'color_reset' %}'" disabled class="btn btn-outline-danger">Reset Score</button>
        {% else %}
    <div class="btn-group my-4 me-5" role="group" aria-label="Basic mixed styles example">
      <button type="button" onclick="location.href='{% url 'color_start' %}'" class="btn btn-success">Enable</button>
      <button type="button" onclick="location.href='{% url 'color_stop' %}'" disabled class="btn btn-outline-warning">Disabled</button>
    </div>
    <button type="button p-5" onclick="location.href='{% url 'color_reset' %}'" class="btn btn-danger">Reset Score</button>

      {% endif %}

    <div class="d-flex flex-column align-items-stretch accordion card shadow h-100">
        <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Speler</th>
                <th>Punten</th>
                <th>Huidige Kleur</th>
              <tr>
            </thead>
            <tbody id="team_table">
              {% for player_info in player_infos %}
                <tr>
                  <td>{{ player_info.rank }}</td>
                  <td>{{ player_info.name }}</td>
                  <td>{{ player_info.points }}</td>
                  <td>{{ player_info.color }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

  </div>
</body>


{% endblock content %}

