{% extends "base.html" %}
{% load static %}


{% block title %}{{ player.name }}{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">
</head>

<body>
  <div class="container pt-2">
    <div class="card shadow">
      <div class="card-header">
        {% if mine %}
          <h4 class="card-title"><span class="bi-minecart-loaded h2" style="filter: invert(0%)"></span>  Welkom bij mine {{ mine.0.mine.get_currency_display }}{{ mine.0.mine.currency }}</h4>
        {% elif post %}
          <h4 class="card-title"><span class="bi-shop h2"></span> Welkom bij {{ post.0.post.sells.get_currency_display }}{{post.0.post.name }}</h4>
        {% endif %}
      </div>
      <div class="card-body">
        {% if mine %}
            {% if action.status == "ok" %}
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Geld gekregen:</th>
                    <th scope="col">Afgevelerd:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% if action.bought.item != None %}
                      <td class="table-success">{{ action.bought.amount }}x {{action.bought.item.get_name_display}}{{ action.bought.item.name }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    {% for key, val in action.costs.items %}
                      {% if forloop.counter0 == 0 %}
                      {% else %}
                        <td></td>
                      {% endif %}
                      <td class="table-danger">{{ val.amount }}x {{ val.currency }}{{ val.name }}</td>
                      <tr>
                    {% endfor %}
                </tbody>
              </table>
          {% else %}
            <p>{{ action.status }}: {{ action.log }}</p>
          {% endif %}
        {% elif post %}
          <h5>Hoeveel {{ post.0.post.sells.get_currency_display }}{{post.0.post.sells.get_name_display}} wil je kopen?</h5>
          {% if price %} <h5>Prijs: {{ price }}</h5>{% endif %}
          <h5>{{ post.0.sells}}</h5>
          <form method="post" class="d-flex align-items-start justify-content-start flex-row flex-wrap">
            {% csrf_token %}
            {% for amount, text in buy_amounts %}
              <button class="btn btn-primary m-2 d-block w-25" type="submit" name="amount" value="{{ amount }}">
                {{ amount }}{% if text %} ({{ text }}) {% endif %}
              </button>
            {% endfor %}
          </form>
        {% else %}
          <h4 class="card-title"><span class="bi-cart4 h2" style="filter: invert(0%)"></span>         Deze items heb jij nu:</h4>
        {% endif %}
      </div>
    </div>
  </div>
{% include "trading/inventory.html" %}
</body>


{% endblock content %}