
{% extends "base.html" %}
{% load static %}

{% block title %}{{ player.name }}{% endblock %}

{% block content %}

  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header align-items-center">
        <h3 class="m-0">Aangemeld als {{ post.name }}, dit verkoop jij</h3>
      </div>
      <div class="card-body">
        <canvas id="myChart"></canvas>
    </div>
  </div>
  <script>
    var player_items = JSON.parse('{{ player_items|safe }}');
    var team_mines = JSON.parse('{{ team_mines|safe }}')
  </script>
  <script src={% static 'dashboard.js' %}></script>

{% endblock content %}
