
{% extends "base.html" %}
{% load static %}

{% block title %}{{ player.name }}{% endblock %}

{% block content %}

  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header align-items-center">
        <h3 class="m-0">Aangemeld als {{ post.name }}, dit verkoop jij</h3>
      </div>
      <div class="card-body">
        <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header align-items-center">
        <h3 class="m-0">Mines</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Mine</th>
              <th>Team</th>
              <th>currency</th>
              <th>Amount</th>
            <tr>
          </thead>
          <tbody id="team_table">
            {% for team in team_mines %}
              <tr>
                <td>{{ team.mine }}</td>
                <td>{{ team.team }}</td>
                <td>{{ team.mine.currency }}</td>
                <td id="{{ team.team.id }}_{{ team.mine.currency }}">{{ team.amount }}</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header align-items-center">
        <h3 class="m-0">Logs</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Speler</th>
              <th>Koopt</th>
              <th>Voor</th>
              <th>Actie</th>
            <tr>
          </thead>
          <tbody id="logtable">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    var player_items = JSON.parse('{{ player_items|safe}}');
    var team_info = [];

    {% for item in team_mines %}
      var object = {
        team_id: {{ item.id }},
        mine_id: {{ item.mine.id }},
        mine: "{{ item.mine }}",
        type: "{{ item.type }}",
        currency: "{{ item.mine.currency }}",
        team: "{{ item.team }}",
        mine_amount: "{{ item.amount }}"
      };
    team_info.push(object);
    {% endfor %}


  </script>
  <script src={% static 'dashboard.js' %}></script>

{% endblock content %}
