{% extends "base.html" %}

{% block title %}Player Stats{% endblock %}

{% block content %}


<div class="container py-4 ps-4 bg-primary-subtle">
    <h1>{{ player.name }} | {{ player.team }} | {{ player.section }}</h1>
</div>


{% if action.bought %}
<div class="container py-4 ps-4">
    <p class="my-0">
        Gekocht:
    </p>
    <ul>
        {% for item, amount in action.bought.items %}
        <li>{{ amount }}x {{ item }} {{ test }} </li>
        {% endfor %}
    </ul>
{% endif %}

{% if action.costs %}
    <p class="my-0">
        Voor:
    </p>
    <ul>
        {% for item, amount in action.costs.items %}
        <li>{{ amount }}x {{ item }} {{ test }} </li>
        {% endfor %}
    </ul>
{% endif %}


{% if action.log %}
    <div class="container py-4 ps-4 {% if action.status == error %} text-bg-danger {% endif %}">

        <p class="my-0">{{ action.log }}</p>

    </div>
{% endif %}

    <div class="container ps-4">
        <h2>Opslag</h2>
        <ul>
            {% for item, amount in player.inventory.items %}
            <li>{{ amount }}x {{ item }} {{ test }} </li>
            {% endfor %}
        </ul>
        <ul>
          {% for item in items %}
            <li>{{ item.item.name }}: {{ item.amount }}</li>
          {% endfor %}
        </ul>
    </div>



    </p>
    {% endblock %}